node_modules/
dist/
out/
build/
.env
.env.*
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
.vercel/
.vscode/
.swp
deploy/appengine/service-account.json
deploy/appengine/.env
deploy/appengine/staging/
deploy/appengine/.env
deploy/gke/.skaffold/
deploy/gke/gke-deployer-key.json
deploy/gke/terraform/.terraform/
deploy/gke/terraform/.terraform.lock.hcl
deploy/gke/terraform/*.tfstate
deploy/gke/terraform/*.tfstate.backup
deploy/gke/terraform/*.tfplan
